
<h1>Names of all the people</h1>
<% @customers.each do |customer| %>
  Name: <%= customer.full_name %><br>
        <%= customer.phone %><br>
        <%= customer.email %><br>
        <%= image_tag customer.image %>
<% end %>
