
<div>
  <% @customers.each do |customer| %>
    <div class="customer">
      <h3>Name: <%= customer.full_name %></h3>
      <%= image_tag customer.image, :class =>"img" %></br>
      <p><%= customer.phone %></p>
      <p><%= customer.email %><br></p>
    </div>
  <% end %>
</div>
